{% extends "MyBase.html" %} {% block title %}Index 008{% endblock %} 
{% block myHeadScript -%}
super()

<!-- Un script à placer dans la partie 'head' de la page html sera placé ici par les pages qui étendent (extends) ce fichier-->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
{%- endblock myHeadScript %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <!-- Colonne gauche : 2/6 -->
    <div class="border p-3 col-12 col-md-4 col-lg-2">
      <!-- Note: 2/6 = 1/3 = col-md-4 -->
      <div>Je suis à gauche</div>
      <h1>C'est une bonne idée Serge !!</h1>
    </div>

    <!-- Colonne droite : 4/6 -->
    <div class="border p-3 col-12 col-md-8 col-lg-10">
      <!-- Note: 4/6 = 2/3 = col-md-8 -->

      <div id="editor">
        <p>Hello World! you are in the QUILL editor </p>
        <p>Some initial <strong>bold</strong> text</p>
        <p><br /></p>
      </div>


      

    </div>
  </div>
</div>

{% endblock content %} {% block scripts %} {{ super() }}

<script type="text/javascript" src=""></script>
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
  const quill = new Quill('#editor', {
    theme: 'snow'
  });
</script>

{% endblock scripts %}
