{% extends "MyBase.html" %} {% block title %}Git c'est bien ? {% endblock %} {% block
content %}
<div class="container alert alert-warning" role="alert">
  <div class="container"><b>{{comment}}</b></div>
  Une base de données pour nos codes informatiques en tous les langages que
  nous utilisons : python, JS, C, etc ... <br />
</div>

<div class="container"> 
  <h1 class="h1">Flask Login Example</h1>
  <h2 class="h2">Easy authentication and authorization in Flask.</h2>

  <div id="editor">dans éditeur</div>
</div>

{% endblock content %} {% block scripts %} {{ super() }}

<script type="text/javascript" src="static/js/codebase2026.js"></script>

{% endblock scripts %}
