{% extends "MyBase.html" %} {% block title %}Index 008{% endblock %} {% block
content %}
<div class="container-fluid">
  <div class="row">
    <!-- Colonne gauche : 2/6 -->
    <div class="border p-3 col-12 col-md-4 col-lg-2">
      <!-- Note: 2/6 = 1/3 = col-md-4 -->
      <div>Je suis à gauche</div>
    </div>

    <!-- Colonne droite : 4/6 -->
    <div class="border p-3 col-12 col-md-8 col-lg-10">
      <!-- Note: 4/6 = 2/3 = col-md-8 -->
      <div>Je suis à droite</div>
    </div>
  </div>
</div>

C'est une bonne idée Serge !! {% endblock content %} 

{% block scripts %} {{ super() }}

<script type="text/javascript" src=""></script>

{% endblock scripts %}




