{% block doc -%}
<!doctype html>
<html lang="fr" {% block html_attribs %}{% endblock html_attribs %}>
    {%- block html %}
    <head>
        {%- block head %}
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <link
            rel="shortcut icon"
            href="{{ url_for('static', filename='favicon.ico') }}"
        />

        <title>
            {% block title %}{{title|default('Mon Application')}}{% endblock
            title %}
        </title>

        {%- block styles %}
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
        />

        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        />
        {%- endblock styles %} {%- endblock head %}
    </head>

    <body {% block body_attribs %}{% endblock body_attribs %}>
        {% block body -%} {% include 'TopOfNavBar.html' %}

        <main class="py-4">{% block content -%} {%- endblock content %}</main>

        {% include 'Footer.html' %} {% block scripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

        {% endblock scripts %} {%- endblock body %}
    </body>
    {%- endblock html %}
</html>
{% endblock doc -%}
