<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Les pays
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/de">Allemagne</a></li>
            <li><a class="dropdown-item" href="/en">Angleterre</a></li>
            <li><a class="dropdown-item" href="/fr">France</a></li>
            <li><a class="dropdown-item" href="/it">Italie</a></li>

            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/">Home</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sans authentication
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Action 1b</a></li>
            <li><a class="dropdown-item" href="/">Action 2b</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/">Action 3b</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Log In/OUT & Sign In
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/login">Log IN page</a></li>
            <li><a class="dropdown-item" href="/logout">Log OUT page</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/signup">S'inscrire</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Avec authentication
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/test01">Test 01</a></li>

            <li><a class="dropdown-item" href="/secret1a">Vide</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/login">Log IN page</a></li>
            <li><a class="dropdown-item" href="/logout">Log OUT page</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Nos pages de tests HTML
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/">Test 01</a></li>

            <li><a class="dropdown-item" href="/">Vide</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/">Vide</a></li>
            <li><a class="dropdown-item" href="/">Vide</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
